{% extends "base.html" %}
{% block page_content %}
<H1>{{ hostname }}</H1>
<p>Location: {{ old['location'] }}</p>

<H1>VLAN IP ADDRESS</H1>
<table class=table>
    <tr>
        <th>Vlan ID</th>
        <th>IP</th>
    </tr>
    {% for k, v in old['ips']['vlan_ips'].items() %}
    <tr>
        <td>{{ k|e }}</td>
        <td>{{ v[0] }}/{{ v[1] }}</td>
    </tr>
{% endfor %}
</table>

<H2>Loopback IP</H2>
<table class=table>
    {% for k, v in old['ips']['loopback_ips'].items() %}
    <tr>
        <td>Loopback{{ k }}</td>
        <td>{{ v[0] }}/{{ v[1] }}</td>
    </tr>
    {% endfor %}
</table>

<H2>VLAN INFO</H2>
<table class=table>
    <tr>
        <th>Vlan ID</th>
        <th>Vlan Name</th>
    </tr>
    {% for k, v in old['vlans'].items() %}
        <tr>
            <td>{{ k }}</td>
            <td>{{ v['name'].upper() }}</td>
        </tr>
    {% endfor %}
</table>
<h2>CDP Neighbors</h2>
<table class=table>
    <tr>
        <th>Neighbor</th>
        <th>Local Port</th>
        <th>Remote Port</th>
    </tr>
    {% for k, v in old['cdp'].items() %}
    <tr>
        <td>{{ v[0] }}</td>
        <td>{{ k }}</td>
        <td>{{ v[1] }}</td>
    </tr>
    {% endfor %}
</table>
<H2>Port Information</H2>
<table class=table>
    <tr>
        <th>Port</th>
        <th>Description</th>
        <th>Vlan</th>
        <th>Voice Vlan</th>
    </tr>
    {% for k, v in new.items() %}
    <tr>
        <td>{{ k }}</td>
        <td>{{ v['description'] }}</td>
        <td>{{ v['vlan'] }}</td>
        <td>{{ v['voice'] }}</td>
    </tr>
    {% endfor %}
</table>   
<H2>DNS Information</H2>
<table class=table>
    <tr>
        <th>Name</th>
        <th>Address</th>
    </tr>
    {% for item in ips %}
    <tr>
        <td>{{ item['name'] }}</td>
        <td>{{ item['address'] }}</td>
    </tr>
    {% endfor %}
{% endblock %}
